<header id="nav-header" class="navbar fixed-top  navbar-expand-lg navbar-light">
    <div class="container-xxl">
        <a class="navbar-brand monospace" href="{{ .Page.Site.BaseURL}}">
            {{ .Site.Params.Title }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="navbar-toggler-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z">
                </path>
            </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{- $current := . -}}
                {{ range .Site.Menus.main }}
                {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
                {{- $active = or $active (eq .Name $current.Title) -}}
                {{- $active = or $active (and (eq .Name "Demos") (eq $current.Section "demos")) -}}
                {{- $active = or $active (and (eq .Name "Docs") (eq $current.Section "docs") (ne $current.Title
                "lightGallery React") (ne $current.Title
                "lightGallery Vue") (ne $current.Title
                "lightGallery Angular") ) -}}
                {{- $active = or $active (and (eq .Name "React") (eq $current.Title "lightGallery React")) -}}
                {{- $active = or $active (and (eq .Name "Vue") (eq $current.Title "lightGallery Vue")) -}}
                {{- $active = or $active (and (eq .Name "Angular") (eq $current.Title "lightGallery Angular")) -}}
                <li class="nav-item">
                    <a class="nav-link{{ if $active }} active{{ end }}" href="{{ .URL }}">{{- .Name -}}</a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</header>