.hero-section {
    padding-bottom: 180px;
    padding-top: 120px;
}

.features-list {
    margin-top: 120px;
}
.features-list-item {
    margin-bottom: 40px;
    h3 {
        margin-bottom: 10px;
    }
}
