node_modules
lightGallery.code-workspace
coverage
.nyc_output
.DS_Store
*.log
.vscode
.idea
dist/lib
*.d.ts
*.map
dist/**/*.scss
dist/*.md
dist/angular/
dist/react/
lightgallery-react/dist
lightgallery-lit/dist
lightgallery-lit/lib
dist/vue/
dist/lit/
dist/package.json
dist/plugins/**/*.json
compiled
.awcache
.rpt2_cache
/docs
/site/data
