/** Import Bootstrap functions */
@import 'bootstrap/scss/functions';

/** Import theme variables */
@import 'common/variables';

/** Import Bootstrap */
@import 'bootstrap/scss/bootstrap';

/*! purgecss start ignore */
@import 'vendor/justifiedGallery';

/** Import theme styles */
@import 'common/fonts';
@import 'common/global';
@import 'common/docs-content';
@import 'components/alerts';
@import 'components/buttons';
@import 'components/code';
@import 'components/options';
@import 'components/select';
@import 'components/table';

@import 'components/syntax';
@import 'components/comments';
@import 'components/forms';
@import 'components/images';
@import 'layouts/footer';
@import 'layouts/header';
@import 'layouts/pages';
@import 'layouts/posts';
@import 'layouts/sidebar';

@import 'pages/home';
@import 'pages/license';

@import 'components/demo-gallery';
@import 'lightGallery/lightGallery';

@import 'docs/events';
@import 'docs/methods';
@import 'docs/options';
@import 'docs/demos';
@import 'docs/common';
/*! purgecss end ignore */
