@use '../lg-mixins' as *;

.lg-css3 {
    &.lg-lollipop {
        .lg-item {
            opacity: 0;

            &.lg-prev-slide {
                @include translate3d(-100%, 0, 0);
            }

            &.lg-next-slide {
                @include transform(translate3d(0, 0, 0) scale(0.5));
            }

            &.lg-current {
                @include translate3d(0, 0, 0);
                opacity: 1;
            }

            &.lg-prev-slide,
            &.lg-next-slide,
            &.lg-current {
                @include transitionCustom(
                    transform 1s cubic-bezier(0, 0, 0.25, 1) 0s,
                    opacity 0.1s ease 0s
                );
            }
        }
    }
}
