@use '../lg-mixins' as *;

.lg-css3 {
    &.lg-slide-skew-ver-rev {
        .lg-item {
            opacity: 0;

            &.lg-prev-slide {
                @include transform(
                    skew(-60deg, 0deg) translate3d(0, -100%, 0px)
                );
            }

            &.lg-next-slide {
                @include transform(
                    skew(-60deg, 0deg) translate3d(0, 100%, 0px)
                );
            }

            &.lg-current {
                @include transform(skew(0deg, 0deg) translate3d(0%, 0%, 0px));
                opacity: 1;
            }

            &.lg-prev-slide,
            &.lg-next-slide,
            &.lg-current {
                @include transitionCustom(
                    transform 1s cubic-bezier(0, 0, 0.25, 1) 0s,
                    opacity 0.1s ease 0s
                );
            }
        }
    }
}
