<div class="subscribe" id="subscribe">
    <div class="subscribe-inner">
        <h3>WordPress version</h3>
        <p>
            WordPress version of lightGallery is almost ready for release. Enter
            your Email to get notified when we launch!
        </p>
        <div class="form-group">
            <input
                placeholder="Email address"
                class="form-control"
                type="email"
                id="subscribe-email"
            />
            <button
                href="https://github.com/sachinchoolur/lightGallery"
                class="btn btn-primary"
                id="subscribe-btn"
            >
                Submit
            </button>
        </div>
        <div class="alert alert-success" role="alert">
            Thank you for subscribing!
        </div>
        <div class="alert alert-danger" role="alert">
            Oops! Unable to submit!
            <br />
            Please email contact@lightgalleryjs.com
        </div>
    </div>
</div>

<footer class="footer text-muted">
    <div class="container-xxl">
        <div class="row">
            <div class="col-sm-3">
                <h4>Components</h4>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}docs/react">React</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}docs/vue">Vue.js</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}docs/angular">Angular</a>
                    </li>
                    <li class="footer-menu-item">
                        <a
                            href="https://codesandbox.io/s/lightgallery-lit-23yv2?file=/src/index.js"
                            >Lit</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Docs</h4>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}docs/getting-started"
                            >Get started</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}docs/settings"
                            >Settings</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}docs/custom-work"
                            >Custom Work</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a target="_blank" href="{{.Page.Site.BaseURL}}v1"
                            >Version 1.x</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Demos</h4>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}demos/thumbnails"
                            >Thumbnails</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}demos/dynamic-mode"
                            >Dynamic</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}demos/inline">Inline</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}demos/video-gallery"
                            >Video</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Social</h4>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="https://github.com/sachinchoolur/lightGallery"
                            >GitHub</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a
                            target="_blank"
                            href="https://twitter.com/SachinNeravath"
                            >Twitter</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a
                            target="_blank"
                            href="https://codepen.io/collection/BNNjpR"
                            >CodePen</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a
                            target="_blank"
                            href="https://docs.google.com/forms/d/e/1FAIpQLSfcxknmKJAF9btnCg8HugFadxyWRZ3TgC0ZKxOtIjdaGfqxIw/viewform?usp=pp_url&entry.34608024=Yes"
                            >Write a review</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-xxl">
        <div class="tack-banner">
            <span class="tack-banner-label">Brought to you by</span>
            <div class="tack-banner-inner">
                <a href="https://tack.one/?ref=lightgallery" target="_blank">
                    <img
                        class="tack-banner-logo"
                        src="{{.Page.Site.BaseURL}}images/logos/tack-logo-mobile.svg"
                    />
                    All new time tracking. Greater insight. 100% Free
                </a>
            </div>
        </div>
    </div>
</footer>
