{{/*
<div class="subscribe" id="subscribe">
    <div class="subscribe-inner">
        <h3>WordPress version</h3>
        <p>
            WordPress version of lightGallery is almost ready for release. Enter
            your Email to get notified when we launch!
        </p>
        <div class="form-group">
            <input
                placeholder="Email address"
                class="form-control"
                type="email"
                id="subscribe-email"
            />
            <button
                href="https://github.com/sachinchoolur/lightGallery"
                class="btn btn-primary"
                id="subscribe-btn"
            >
                Submit
            </button>
        </div>
        <div class="alert alert-success" role="alert">
            Thank you for subscribing!
        </div>
        <div class="alert alert-danger" role="alert">
            Oops! Unable to submit!
            <br />
            Please email contact@lightgalleryjs.com
        </div>
    </div>
</div>
*/}}

<footer class="footer text-muted">
    <div class="container-xxl">
        <div class="row">
            <div class="col-sm-3">
                <h4>Components</h4>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}docs/react-image-video-gallery/">React</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}docs/vue-image-video-gallery/">Vue.js</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}docs/angular-image-video-gallery/">Angular</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}download-youtube-thumbnails/">Youtube thumbnail downloader</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}jquery-to-js-converter/">jQuery to JavaScript converter</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Docs</h4>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}docs/getting-started/"
                            >Get started</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}docs/settings/"
                            >Settings</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}docs/events/"
                            >Events</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}docs/methods/"
                            >Methods</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}blog/"
                            >Blog</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Demos</h4>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}demos/thumbnails/"
                            >Thumbnails</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}demos/dynamic-mode/"
                            >Dynamic</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}demos/carousel-gallery/">Carousel</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}demos/video-gallery/"
                            >Video</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a href="{{.Page.Site.BaseURL}}demos/transitions/"
                            >Transitions</a
                        >
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Social</h4>
                <ul class="footer-menu">
                    <li class="footer-menu-item">
                        <a href="https://github.com/sachinchoolur/lightGallery"
                            >GitHub</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a
                            target="_blank"
                            href="https://twitter.com/SachinNeravath"
                            >Twitter</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a
                            target="_blank"
                            href="https://codepen.io/collection/BNNjpR"
                            >CodePen</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a
                            target="_blank"
                            href="https://stackblitz.com/@sachinchoolur"
                            >Stackblitz</a
                        >
                    </li>
                    <li class="footer-menu-item">
                        <a
                            target="_blank"
                            href="https://docs.google.com/forms/d/e/1FAIpQLSfcxknmKJAF9btnCg8HugFadxyWRZ3TgC0ZKxOtIjdaGfqxIw/viewform?usp=pp_url&entry.34608024=Yes"
                            >Write a review</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-xxl">
        <div class="row other-products">
            <div class="other-products-label">We also make</div>
            <div class="col-lg-4">
                <a class="other-products-item" href="https://www.paritydeals.com/" target="_blank">
                    <img src="{{.Page.Site.BaseURL}}images/logos/paritydeals.jpeg" alt="ParityDeals"
                        class="img-fluid" width="200" height="200">
                    <div class="other-products-item-content">
                        <h5>ParityDeals</h5>
                        <p>Optimize pricing across countries to maximize revenue</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="other-products-item" href="https://www.timemaster.ai/" target="_blank">
                    <img src="{{.Page.Site.BaseURL}}images/logos/timemaster.png" alt="timeMaster"
                        class="img-fluid" width="200" height="200">
                    <div class="other-products-item-content">
                        <h5>timeMaster.ai</h5>
                        <p>Supercharge your Focus and Productivity</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a class="other-products-item" href="https://www.webwhiz.ai/" target="_blank">
                    <img src="{{.Page.Site.BaseURL}}images/logos/webwhiz.png" alt="WebWhiz"
                    class="img-fluid" width="200" height="200">
                    <div class="other-products-item-content">
                        <h5>WebWhiz.ai</h5>
                        <p> ChatGPT trained on your website data
                       </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>
