<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{ block "head/resource-hints" . }}{{ partial "head/resource-hints.html" . }}{{ end }}
  {{ block "head/stylesheet" . }}{{ partial "head/stylesheet.html" . }}{{ end }}
  {{ block "head/seo" . }}{{ partial "head/seo.html" . }}{{ end }}
  {{ block "head/favicons" . }}{{ partial "head/favicons.html" . }}{{ end }}
  {{ block "head/script-header" . }}{{ partial "head/script-header.html" . }}{{ end }}

  {{ if or (eq .Title "Pricing") (eq .Title "WordPress") -}}
  <script>
    !function(e,t,i,n,a,c,r){e[n]=e[n]||function(){(e[n].q=e[n].q||[]).push(Array.prototype.slice.call(arguments))},c=t.createElement(i),r=t.getElementsByTagName(i)[0],c.id="parity-deals-sdk",c.async=1,c.src=a,r.parentNode.insertBefore(c,r)}(window,document,"script","ParityDealsSDK","https://cdn.paritydeals.com/sdk.js"),window.ParityDeals={init:function(e){ParityDealsSDK("init",e)},getUpdatedPrice:function(e){return new Promise((t,i)=>{!function n(){window.ParityDealsSDK&&"function"==typeof window.ParityDealsSDK.getUpdatedPrice?ParityDealsSDK.getUpdatedPrice(e).then(t).catch(i):setTimeout(()=>n(),100)}()})}};

        ParityDeals.init({
          convertToLocal: true,
          showDecimal: false,
          bar: {
            container: '.price-container'
          }
        });
    </script>

  {{ end -}}
</head>
