/* Helvetica Now Display */
@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-ExtLt.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-ExtLt.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-ExtLt.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-ThinIta.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-ThinIta.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-ThinIta.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-Thin.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-Thin.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-HairlineIt.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-HairlineIt.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-HairlineIt.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-ExtLtIta.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-ExtLtIta.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-ExtLtIta.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-Hairline.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-Hairline.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-LightIta.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-LightIta.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-LightIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-Medium.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-Medium.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-ExtBlk.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-ExtBlk.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-ExtBlk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-ExtraBold.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-ExtraBold.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-ExtBdIta.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-ExtBdIta.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-ExtBdIta.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-Italic.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-Italic.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-Light.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-Light.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-ExtBlkIta.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-ExtBlkIta.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-ExtBlkIta.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-MedIta.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-MedIta.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-MedIta.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-BoldIta.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-BoldIta.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-BoldIta.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-Regular.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-Regular.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-Bold.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-BlackIta.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-BlackIta.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-BlackIta.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Now Display';
    src: url('fonts/HelveticaNowDisplay-Black.woff2') format('woff2'),
        url('fonts/HelveticaNowDisplay-Black.woff') format('woff'),
        url('fonts/HelveticaNowDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* Helvetica Now Text */
@font-face {
    font-family: 'Helvetica Now Text';
    src: url('fonts/HelveticaNowText-Regular.ttf') format('ttf'),
        url('fonts/HelveticaNowText-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('fonts/HelveticaNowText-Medium.ttf') format('ttf'),
        url('fonts/HelveticaNowText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Now Text';
    src: url('fonts/HelveticaNowTextBd.ttf') format('ttf'),
        url('fonts/HelveticaNowTextBd.woff') format('woff'),
        url('fonts/HelveticaNowTextBd.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
