.lg-custom-thumbnails {
    .lg-outer {
        width: auto;
        right: 225px;
        left: 10px;
        .lg-thumb-outer {
            left: auto;
            top: 0;
            width: 225px;
            max-height: none;
            bottom: 0;
            background-color: #999;
            padding-left: 5px;
            padding-right: 5px;
            margin: 0 -10px;
            overflow-y: auto;
            position: fixed;
            right: 0;
            transform: translate3d(30%, 0, 0);
            opacity: 0;
            will-change: transform opacity;
            transition: transform 0.15s cubic-bezier(0, 0, 0.25, 1) 0s,
                cubic-bezier(0, 0, 0.25, 1) 0.15s;
        }

        &.lg-components-open {
            .lg-thumb-outer {
                transform: translate3d(0, 0, 0);
                opacity: 1;
            }
        }

        .lg-thumb-item {
            float: left;
            filter: grayscale(100%);
            will-change: filter;
            transition: filter 0.12s ease-in, border-color 0.12s ease;
            &:hover,
            &.active {
                filter: grayscale(0);
                border-color: #545454;
            }
        }

        .lg-thumb {
            padding: 5px 0;
        }
    }
}
