.lg-masonry-gallery {
    .gallery-item {
        width: 30%;
        margin-bottom: 10px;
    }
}
.swiper-lg-wrap {
    width: 1200px;
    height: 0;
    padding-bottom: 65%;
    position: relative;
    max-width: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
    position: absolute !important;
}
