{{$interface := dict}}
{{$interfaceName := .Get "interface"}}
{{ range .Site.Data.doc.children -}}
{{ if eq .name $interfaceName}}
{{$interface = .children}}
{{ end }}
{{ end -}}
<div class="docs-common-section">

{{ range .Site.Data.doc.children -}}
    {{ if eq .name $interfaceName}}
        {{ range .comment.tags -}}
            {{ if eq .tag "name"}}
                <p class="docs-common-name">{{.text}}</p>
            {{ end}}
        {{ end -}}
        <p class="docs-common-desc">{{.comment.shortText}}</p>
    {{ end }}
{{ end }}
    {{if $interface }} 
<b class="docs-common-tag">Event object</b>
<table class="options table-blue" style="width:100%">

    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
    </tr>


    {{range $index, $element := $interface}}
    <tr>
        <td>{{$element.name}}</td>
        <td>{{$element.type.name}}</td>

            <td>
                {{.comment.shortText  | safeHTML}}
                {{ range .comment.tags -}}
                    {{ if eq .tag "description"}}
                        <p>
                            {{.text}}
                        </p>
                    {{ end}}
                {{ end -}}
            </td>
        </tr>
    {{ end }}
  </table>
{{ end }}
</div>
