{{$id := .Get "id"}}

<div class="gallery-demo-videos">
    <div id="{{$id}}" class="list-unstyled">
        <a
            data-lg-size="1600-2400"
            data-pinterest-text="Pin it2"
            data-tweet-text="lightGallery slide 2"
            data-slide-name="Bowness-bay"
            data-reddit-title="Bowness Bay"
            data-src="https://images.unsplash.com/photo-1608481337062-4093bf3ed404?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80"
            data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@therawhunter' >Massimiliano Morosinotto </a></h4><p> Location - <a href='https://unsplash.com/s/photos/tre-cime-di-lavaredo%2C-italia'>Tre Cime di Lavaredo, Italia</a>This is the Way</p>"
        >
            <img
                class="img-responsive"
                src="https://images.unsplash.com/photo-1608481337062-4093bf3ed404?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=240&q=80"
            />
        </a>
        <a
            data-lg-size="1280-720"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide 4"
            data-src="//www.youtube.com/watch?v=egyIeygdS_E"
            data-poster="https://img.youtube.com/vi/egyIeygdS_E/maxresdefault.jpg"
            data-sub-html="<h4>Visual Soundscapes - Mountains | Planet Earth II | BBC America</h4><p>On the heels of Planet Earth II’s record-breaking Emmy nominations, BBC America presents stunning visual soundscapes from the series' amazing habitats.</p>"
        >
            <img
                width="300"
                height="100"
                class="img-responsive"
                src="https://img.youtube.com/vi/egyIeygdS_E/maxresdefault.jpg"
            />
        </a>
        <a
            data-lg-size="1280-720"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide 4"
            data-src="//vimeo.com/112836958"
            data-poster="{{.Page.Site.BaseURL}}images/demo/vimeo-video-poster.jpg"
            data-sub-html="<h4>Nature</h4><p>Video by <a target='_blank' href='https://vimeo.com/charliekaye'>Charlie Kaye</a></p>"
        >
            <img
                width="300"
                height="100"
                class="img-responsive"
                src="{{.Page.Site.BaseURL}}images/demo/vimeo-video-poster.jpg"
            />
        </a>
        <a
            data-lg-size="1280-720"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide 4"
            data-src="https://private-sharing.wistia.com/medias/mwhrulrucj"
            data-poster="{{.Page.Site.BaseURL}}images/demo/wistia-video-poster.jpeg"
            data-sub-html="<h4>Thank You!</h4><p> Sample Wistia video </p>"
        >
            <img
                width="300"
                height="100"
                class="img-responsive"
                src="{{.Page.Site.BaseURL}}images/demo/wistia-video-poster.jpeg"
            />
        </a>
        <a
            data-lg-size="1280-720"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide 4"
            data-video='{"source": [{"src":"{{.Page.Site.BaseURL}}videos/video1.mp4", "type":"video/mp4"}], "attributes": {"preload": false, "controls": true}}'
            data-poster="{{.Page.Site.BaseURL}}images/demo/html5-video-poster.jpg"
            data-sub-html="<h4>'Peck Pocketed' by Kevin Herron | Disney Favorite</h4>"
        >
            <img
                width="300"
                height="100"
                class="img-responsive"
                src="{{.Page.Site.BaseURL}}images/demo/html5-video-poster.jpg"
            />
        </a>
    </div>
</div>
