{{$id := .Get "id"}}

<div class="gallery-demo-videos">
    <div id="{{$id}}" class="list-unstyled">
        <a
            data-lg-size="1600-2400"
            data-pinterest-text="Pin it2"
            data-tweet-text="lightGallery slide  2"
            data-slide-name="Bowness-bay"
            data-reddit-title="Bowness Bay"
            data-src="https://images.unsplash.com/photo-1608481337062-4093bf3ed404?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80"
            data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@therawhunter' >Massimiliano Morosinotto </a></h4><p> Location - <a href='https://unsplash.com/s/photos/tre-cime-di-lavaredo%2C-italia'>Tre Cime di Lavaredo, Italia</a>This is the Way</p>"
        >
            <img
                class="img-responsive"
                src="https://images.unsplash.com/photo-1608481337062-4093bf3ed404?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=240&q=80"
            />
        </a>
        <a
            style="background-color: #495979"
            data-lg-size="1600-2400"
            data-pinterest-text="Pin it2"
            data-tweet-text="lightGallery slide  2"
            data-slide-name="Bowness-bay"
            data-reddit-title="Bowness Bay"
            data-src="https://images.unsplash.com/photo-1608481337062-4093bf3ed404?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80"
            data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@therawhunter' >Massimiliano Morosinotto </a></h4><p> Location - <a href='https://unsplash.com/s/photos/tre-cime-di-lavaredo%2C-italia'>Tre Cime di Lavaredo, Italia</a>This is the Way</p>"
        >
            <img class="img-responsive" src="images/icons/website.svg" />
        </a>
        <a
            data-lg-size="1600-2400"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide  4"
            class="gallery-item"
            data-src="https://images.unsplash.com/photo-1585338447937-7082f8fc763d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80"
            data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@whoisbenjamin' >whoisbenjamin</a></h4>
            <p>Location - <a href='https://unsplash.com/s/photos/ciuca%C8%99-peak%2C-romania'>Snowdonia National Park, Blaenau Ffestiniog, UK</a>
            A swan on a calm misty lake in the mountains of Snowdonia, North Wales. <a href='https://unsplash.com/photos/9V6EkAoTWJM'>Link</a> </p>"
        >
            <img
                class="img-responsive"
                src="https://images.unsplash.com/photo-1585338447937-7082f8fc763d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80"
            />
        </a>
        <a
            data-lg-size="1600-1144"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide  4"
            class="gallery-item"
            style="background-color: #39455d"
            data-src="https://images.unsplash.com/photo-1476842384041-a57a4f124e2e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80"
            data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@aaronburden' >Aaron Burden</a></h4><p>Location - <a href='https://unsplash.com/s/photos/grayling%2C-michigan%2C-united-states'>Grayling, Michigan, United States</a> Colorful trees near a lake. <a href='https://unsplash.com/photos/00QWN1J0g48'>Link</a> </p>"
        >
            <img class="img-responsive" src="images/icons/map.svg" />
        </a>
        <a
            data-lg-size="1600-1144"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide  4"
            class="gallery-item"
            data-src="https://images.unsplash.com/photo-1476842384041-a57a4f124e2e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1600&q=80"
            data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@aaronburden' >Aaron Burden</a></h4><p>Location - <a href='https://unsplash.com/s/photos/grayling%2C-michigan%2C-united-states'>Grayling, Michigan, United States</a> Colorful trees near a lake. <a href='https://unsplash.com/photos/00QWN1J0g48'>Link</a> </p>"
        >
            <img
                class="img-responsive"
                src="https://images.unsplash.com/photo-1476842384041-a57a4f124e2e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=240&q=80"
            />
        </a>
        <a
            data-lg-size="1600-1067"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide  4"
            class="gallery-item"
            data-src="https://images.unsplash.com/photo-1465311530779-5241f5a29892?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80"
            data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@kalenemsley' >Kalen Emsley</a></h4><p>Location - <a href='https://unsplash.com/s/photos/yukon-territory%2C-canada'>Yukon Territory, Canada</a> No captions. <a href='https://unsplash.com/photos/eHpYD4U5830'>Link</a> </p>"
        >
            <img
                class="img-responsive"
                src="https://images.unsplash.com/photo-1465311530779-5241f5a29892?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=240&q=80"
            />
        </a>
        <a
            data-lg-size="1280-720"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide  4"
            data-src="//www.youtube.com/watch?v=egyIeygdS_E"
            data-poster="https://img.youtube.com/vi/egyIeygdS_E/maxresdefault.jpg"
            data-sub-html="<h4>Visual Soundscapes - Mountains | Planet Earth II | BBC America</h4><p>On the heels of Planet Earth II’s record-breaking Emmy nominations, BBC America presents stunning visual soundscapes from the series' amazing habitats.</p>"
        >
            <img
                class="img-responsive"
                src="https://img.youtube.com/vi/egyIeygdS_E/maxresdefault.jpg"
            />
            <div class="lg-video-play-button">
                <svg
                    viewBox="0 0 20 20"
                    preserveAspectRatio="xMidYMid"
                    focusable="false"
                    aria-labelledby="Play video"
                    role="img"
                    class="lg-video-play-icon"
                >
                    <title>Play video</title>
                    <polygon
                        class="lg-video-play-icon-inner"
                        points="1,0 20,10 1,20"
                    ></polygon>
                </svg>
                <svg
                    class="lg-video-play-icon-bg"
                    viewBox="0 0 50 50"
                    focusable="false"
                >
                    <circle cx="50%" cy="50%" r="20"></circle>
                </svg>
            </div>
        </a>
        <a
            data-lg-size="1280-720"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide  4"
            data-src="//vimeo.com/112836958"
            data-poster="{{.Page.Site.BaseURL}}images/demo/vimeo-video-poster.jpg"
            data-sub-html="<h4>Nature</h4><p>Video by <a target='_blank' href='https://vimeo.com/charliekaye'>Charlie Kaye</a></p>"
        >
            <img
                class="img-responsive"
                src="{{.Page.Site.BaseURL}}images/demo/vimeo-video-poster.jpg"
            />
            <div class="lg-video-play-button">
                <svg
                    viewBox="0 0 20 20"
                    preserveAspectRatio="xMidYMid"
                    focusable="false"
                    aria-labelledby="Play video"
                    role="img"
                    class="lg-video-play-icon"
                >
                    <title>Play video</title>
                    <polygon
                        class="lg-video-play-icon-inner"
                        points="1,0 20,10 1,20"
                    ></polygon>
                </svg>
                <svg
                    class="lg-video-play-icon-bg"
                    viewBox="0 0 50 50"
                    focusable="false"
                >
                    <circle cx="50%" cy="50%" r="20"></circle>
                </svg>
            </div>
        </a>
        <a
            data-lg-size="1280-720"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide  4"
            data-src="https://private-sharing.wistia.com/medias/mwhrulrucj"
            data-poster="{{.Page.Site.BaseURL}}images/demo/wistia-video-poster.jpeg"
            data-sub-html="<h4>Thank You!</h4><p> Sample Wistia video </p>"
        >
            <img
                class="img-responsive"
                src="{{.Page.Site.BaseURL}}images/demo/wistia-video-poster.jpeg"
            />
            <div class="lg-video-play-button">
                <svg
                    viewBox="0 0 20 20"
                    preserveAspectRatio="xMidYMid"
                    focusable="false"
                    aria-labelledby="Play video"
                    role="img"
                    class="lg-video-play-icon"
                >
                    <title>Play video</title>
                    <polygon
                        class="lg-video-play-icon-inner"
                        points="1,0 20,10 1,20"
                    ></polygon>
                </svg>
                <svg
                    class="lg-video-play-icon-bg"
                    viewBox="0 0 50 50"
                    focusable="false"
                >
                    <circle cx="50%" cy="50%" r="20"></circle>
                </svg>
            </div>
        </a>
        <a
            data-lg-size="1600-2400"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide  4"
            style="background-color: rgb(46 65 83)"
            class="gallery-item"
            data-src="https://images.unsplash.com/photo-1585338447937-7082f8fc763d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1600&q=80"
            data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@whoisbenjamin' >whoisbenjamin</a></h4>
            <p>Location - <a href='https://unsplash.com/s/photos/ciuca%C8%99-peak%2C-romania'>Snowdonia National Park, Blaenau Ffestiniog, UK</a>
            A swan on a calm misty lake in the mountains of Snowdonia, North Wales. <a href='https://unsplash.com/photos/9V6EkAoTWJM'>Link</a> </p>"
        >
            <img
                class="img-responsive"
                src="https://t4.ftcdn.net/jpg/01/36/78/53/240_F_136785362_IqLhssXqAjhL1OZODKBMCweNMNS3jHjr.jpg"
            />
        </a>
        <a
            data-lg-size="1280-720"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide  4"
            data-video='{"source": [{"src":"{{.Page.Site.BaseURL}}videos/video1.mp4", "type":"video/mp4"}], "attributes": {"preload": false, "controls": true}}'
            data-poster="{{.Page.Site.BaseURL}}images/demo/html5-video-poster.jpg"
            data-sub-html="<h4>'Peck Pocketed' by Kevin Herron | Disney Favorite</h4>"
        >
            <img
                class="img-responsive"
                src="{{.Page.Site.BaseURL}}images/demo/html5-video-poster.jpg"
            />
            <div class="lg-video-play-button">
                <svg
                    viewBox="0 0 20 20"
                    preserveAspectRatio="xMidYMid"
                    focusable="false"
                    aria-labelledby="Play video"
                    role="img"
                    class="lg-video-play-icon"
                >
                    <title>Play video</title>
                    <polygon
                        class="lg-video-play-icon-inner"
                        points="1,0 20,10 1,20"
                    ></polygon>
                </svg>
                <svg
                    class="lg-video-play-icon-bg"
                    viewBox="0 0 50 50"
                    focusable="false"
                >
                    <circle cx="50%" cy="50%" r="20"></circle>
                </svg>
            </div>
        </a>
    </div>
</div>
