{{$id := .Get "id"}}

<div class="gallery-demo-videos">
    <div id="{{$id}}" class="list-unstyled">
        <a
            data-lg-size="1280-720"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide  4"
            data-src="//www.youtube.com/watch?v=EIUJfXk3_3w"
            data-poster="https://img.youtube.com/vi/EIUJfXk3_3w/maxresdefault.jpg"
            data-sub-html="<h4>Puffin Hunts Fish To Feed Puffling | Blue Planet II | BBC Earth</h4><p>This puffin parent must go out to sea to feed his chick, but he must evade other birds that would rob him.</p>"
        >
            <img
                width="300"
                height="100"
                class="img-responsive"
                src="https://img.youtube.com/vi/EIUJfXk3_3w/maxresdefault.jpg"
            />
        </a>
        <a
            data-lg-size="1280-720"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide  4"
            data-src="//vimeo.com/112836958"
            data-poster="{{.Page.Site.BaseURL}}images/demo/vimeo-video-poster.jpg"
            data-sub-html="<h4>Nature</h4><p>Video by <a target='_blank' href='https://vimeo.com/charliekaye'>Charlie Kaye</a></p>"
        >
            <img
                width="300"
                height="100"
                class="img-responsive"
                src="{{.Page.Site.BaseURL}}images/demo/vimeo-video-poster.jpg"
            />
        </a>
        <a
            data-lg-size="1280-720"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide  4"
            data-src="https://private-sharing.wistia.com/medias/mwhrulrucj"
            data-poster="{{.Page.Site.BaseURL}}images/demo/wistia-video-poster.jpeg"
            data-sub-html="<h4>Thank You!</h4><p> Sample Wistia video </p>"
        >
            <img
                width="300"
                height="100"
                class="img-responsive"
                src="{{.Page.Site.BaseURL}}images/demo/wistia-video-poster.jpeg"
            />
        </a>
        <a
            data-lg-size="1280-720"
            data-pinterest-text="Pin it3"
            data-tweet-text="lightGallery slide  4"
            data-video='{"source": [{"src":"{{.Page.Site.BaseURL}}videos/video1.mp4", "type":"video/mp4"}], "tracks": [{"src": "{{.Page.Site.BaseURL}}videos/title.txt", "kind":"captions", "srclang": "en", "label": "English", "default": "true"}], "attributes": {"preload": false, "controls": true}}'
            data-poster="{{.Page.Site.BaseURL}}images/demo/html5-video-poster.jpg"
            data-sub-html="<h4>'Peck Pocketed' by Kevin Herron | Disney Favorite</h4>"
        >
            <img
                width="300"
                height="100"
                class="img-responsive"
                src="{{.Page.Site.BaseURL}}images/demo/html5-video-poster.jpg"
            />
        </a>
    </div>
</div>
