.docs-content {
    h2[id]::before,
    h3[id]::before,
    h4[id]::before,
    .anchor-id::before {
        display: block;
        height: 6rem;
        margin-top: -6rem;
        content: '';
    }
    .anchor-id {
        white-space: nowrap;
        &:hover {
            a {
                visibility: visible;
                text-decoration: none;
            }
        }
    }
    .alert {
        margin-bottom: 1rem;
    }
    li {
        line-height: 2rem;
    }
    h2 + h3 {
        margin-top: 0;
    }
    p {
        &:empty {
            display: none;
        }
    }
    h2 {
        font-size: 1.5rem;
        border-bottom: 1px solid #dae8ff;
        padding-bottom: 1rem;
        margin: 4rem 0 1rem;
    }
    h4 {
        font-size: 1.3rem;
        font-weight: 500;
        margin: 3rem 0 1rem;
    }
    .options-table {
        margin-top: 2rem;
    }
}
