/*
@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Inter UI Regular"),
    local("Inter-UI-Regular"),
    url("/fonts/vendor/Inter-UI/Inter-UI-Regular.woff2") format("woff2"),
    url("/fonts/vendor/Inter-UI/Inter-UI-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter UI";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local("Inter UI Italic"),
    local("Inter-UI-Italic"),
    url("/fonts/vendor/Inter-UI/Inter-UI-Italic.woff2") format("woff2"),
    url("/fonts/vendor/Inter-UI/Inter-UI-Italic.woff") format("woff");
}
*/
