<div class="blog-contributers">
    {{ if .Params.contributors -}}
    {{ range $index,
    $contributor := .Params.contributors }}
    {{ if gt $index 0 }} and {{ end }}
    <a class="stretched-link position-relative" href="{{"/contributors/" | relURL }}{{ . | urlize }}/">
        <span class="contributer-image">
            {{ if eq . "Sachin Neravath" -}}
            <img src="/images/sachinNeravath.jpeg">
            {{ else -}}
            <img src="/images/kurienZacharia.jpeg">
            {{ end -}}
        </span>
        </span>
        {{ . }}
    </a>
    {{ end -}}
    {{ end -}}
</div>
