.lg-custom-share-demo {
    .lg-reddit {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
    }
    .lg-dropdown-text {
        margin-top: 3px !important;
    }
}
