# Test and build your Hyas project
# For more information see: https://henkverlinde.com/continuous-integration-workflow-for-your-hyas-project/

name: lightGallery CI

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    build:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [ubuntu-latest, windows-latest, macos-latest]
                node-version: [14.x, 15.x]

        steps:
            - uses: actions/checkout@v2

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Install Hugo
              uses: peaceiris/actions-hugo@v2
              with:
                  hugo-version: 'latest'
                  extended: true

            - name: Check install Hugo
              run: hugo version

            - name: Install dependencies
              run: npm ci

            - name: Check for linting errors
              run: npm test

            - name: Delete temporary directories
              run: npm run clean

            - name: Build production website
              run: npm run build
